<div class="kv" *ngIf="data as d">
    <div class="kv-item" *ngFor="let e of d | keyvalue">
        <div class="kv-label">{{ formatLabel(e.key) }}</div>

        <div class="kv-value">
            <ng-container *ngIf="isArray(e.value); else scalar">
                <ul class="list">
                    <li *ngFor="let v of e.value">
                        {{ v || '—' }}
                    </li>
                </ul>
            </ng-container>

            <ng-template #scalar>
                <div class="kv-card">
                    {{ e.value || '—' }}
                </div>
            </ng-template>
        </div>
    </div>
</div>